In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import molsysmt as msm

# Info

*Printing out summary information of a molecular system*

There is in MolSysMT a method to print out a brief overview of a molecular system and its elements. The output of this method can be a `pandas.DataFrame` or a `string`. Lets load a molecular system to illustrate with some simple examples how it works:

In [3]:
item = msm.demo_systems.files['1tcd.mmtf']
molecular_system = msm.convert(item)

## As a DataFrame

### Summary information on atoms

The method `molsysmt.info()` can be applied over any element of the molecular system. Lets see an example where the summary information is shown for a set of atoms when the input argument `output='dataframe'`:

In [4]:
msm.info(molecular_system, target='atom', indices=[9,10,11,12], output='dataframe')

The method can also take a selection input argument:

In [5]:
msm.info(molecular_system, target='atom', selection='group_index==6')

Notice that the default option for `output` is 'dataframe'.

### Summary information on groups

Lets see an example where the summary information is shown for a set of groups:

In [6]:
msm.info(molecular_system, target='group', indices=[20,21,22,23])

### Summary information on components

Find here now an example on how the method `molsysmt.info()` works over components:

In [7]:
msm.info(molecular_system, target='component', selection='molecule_type!="water"')

### Summary information on chains

If the summary information on all chains in the molecular system needs to be printed out:

In [8]:
msm.info(molecular_system, target='chain')

### Summary information on molecules

The following is an example on how the method works when the targetted element is 'molecule':

In [9]:
msm.info(molecular_system, target='molecule', selection='molecule_type!="water"')

### Summary information on entities

If the targetted element is 'entity' the method prints out the next summary information:

In [10]:
msm.info(molecular_system, target='entity')

### Summary information on a molecular system

At last, a summary information can be shown on the whole molecular system as follows:

In [11]:
msm.info(molecular_system)

In [12]:
topology, trajectory = msm.convert(item, to_form=['molsysmt.Topology','molsysmt.Trajectory'])

In [13]:
msm.info(topology)

In [14]:
msm.info(trajectory)

In [15]:
msm.info([topology, trajectory])

## As a string

The method `molsysmt.info()` can also return a string, short or long, with key information to identify the targetted element.

### Summary information on atoms

If we only need to get a short string encoding the main attributes of an atom, the input argument `output` should take the value 'short_string':

In [16]:
msm.info(molecular_system, target='atom', indices=10, output='short_string')

'CA-11@10'

The string is nothing but the atom name, the atom id and the atom index with '-' between the name and the id, and '@' between the id and the index. The input argument `indices` accepts also a list of indices:

In [17]:
msm.info(molecular_system, target='atom', indices=[10,11,12,13], output='short_string')

['CA-11@10', 'C-12@11', 'O-13@12', 'CB-14@13']

The long version of the string includes the short string of the group, chain and molecule the atom belongs to; with the character '/' in between:

In [18]:
msm.info(molecular_system, target='atom', indices=10, output='long_string')

'CA-11@10/PRO-5@1/A-A@0/TRIOSEPHOSPHATE ISOMERASE@0'

### Summary information on groups

The short string corresponding to a group is composed of its name, id and index. The characters used as separators are the same as with atoms: '-' between name and id, and '@' between id and index.

In [19]:
msm.info(molecular_system, target='group', indices=0, output='short_string')

'LYS-4@0'

The long version of the string includes the short string for the chain and molecule the group belongs to:

In [20]:
msm.info(molecular_system, target='group', indices=3, output='long_string')

'PRO-7@3/A-A@0/TRIOSEPHOSPHATE ISOMERASE@0'

### Summary information on components

The short string with the summary information of a component is its index only:

In [21]:
msm.info(molecular_system, target='component', indices=2, output='short_string')

'2'

The long version of the string includes the chain and molecule the component belongs to with the character '/' as separator.

In [22]:
msm.info(molecular_system, target='component', indices=2, output='long_string')

'2/A-C@2/water@1'

### Summary information on chains

Just like with atoms and groups, the short version of the chain string is made up of the sequence of atributes: name, id and index. The character '-' is in between the chain name and the chain id, and '@' precedes the chain index:

In [23]:
msm.info(molecular_system, target='chain', indices=2, output='short_string')

'A-C@2'

The long version of the string in this case is the same as the short one:

In [24]:
msm.info(molecular_system, target='chain', indices=2, output='long_string')

'A-C@2'

### Summary information on molecules

Molecules have no relevant id attributes, thats why in this case the short string is the molecule name followed by the character '@' and the molecule index:

In [25]:
msm.info(molecular_system, target='molecule', indices=0, output='short_string')

'TRIOSEPHOSPHATE ISOMERASE@0'

As well as with chains, the short and long strings are equivalent here:

In [26]:
msm.info(molecular_system, target='molecule', indices=0, output='long_string')

'TRIOSEPHOSPHATE ISOMERASE@0'

### Summary information on entities

The significant attributes for entities are only two. In this case the string takes the same coding as before, with the character '@' between the name and the index.

In [27]:
msm.info(molecular_system, target='entity', indices=0, output='short_string')

'TRIOSEPHOSPHATE ISOMERASE@0'

The long string is equal to the short string when the targetted element is an entity:

In [28]:
msm.info(molecular_system, target='entity', indices=0, output='long_string')

'TRIOSEPHOSPHATE ISOMERASE@0'